
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #eee;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

nav {
    background-color: steelblue;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

nav a {
    color: white;
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
}


.hero {
    text-align: center;
    padding: 20px;
}

.hero img {
    width: 100%;
    max-width: 800px;
    height: auto;
}

.hero button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

.info-section {
    display: flex;                 
    justify-content: space-between; 
    align-items: flex-start;        
    gap: 20px;                      
    padding: 20px;
    background-color: #f9f9f9;
}

.info-section div {
    flex: 1;                        
    min-width: 200px;               
    text-align: center;
    background-color: #fff;         
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

/* Base style for members */
#memberDisplay {
    display: flex;
    flex-wrap: wrap;
  }
  
  /* Grid view */
  .grid-view .member {
    flex: 1 1 25%; /* Adjust percentage for the number of columns you want */
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #ccc;
    margin: 5px;
    text-align: center;
  }
  
  /* List view */
  .list-view .member {
    flex: 1 1 100%; /* Full-width for list view */
    padding: 10px;
    border: 1px solid #ccc;
    margin: 5px;
    text-align: center;
  }
  

.business-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    gap: 20px;
    padding: 20px;
    background-color: #eee;
}

.business-card {
    text-align: center;
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

.business-card img {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: white;
}


.footer-container {
    text-align: center;
}

@media (max-width: 768px) {
    .info-section {
        flex-direction: column;  
    }
    
    .info-section div {
        max-width: 100%; 
    }
}
