/* Basic styles for form and layout */
form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: auto;
    padding: 1rem;
}

.membership-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    background-color: #f9f9f9;
    padding: 1rem;
    margin: 1rem;
    border: 1px solid #ddd;
    border-radius: .25rem;
    flex: 1 1 45%;
    box-shadow: 0 0 1rem rgba(0,0,0,0.1);
    transition: all 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

dialog {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 0 3rem #777;
    width: 90%;
    max-width: 600px;
}

::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Base Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }
  
  header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
  }
  
  header img {
    max-width: 50px;
    vertical-align: middle;
  }
  
  header h1 {
    display: inline-block;
    margin-left: 1rem;
    font-size: 1.5rem;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    margin: 0 1rem;
  }
  
  nav a:hover {
    text-decoration: underline;
  }

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: white;
}


.footer-container {
    text-align: center;
}

@media (max-width: 768px) {
    .info-section {
        flex-direction: column;  
    }
    
    .info-section div {
        max-width: 100%; 
    }
}
