


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Base Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }
  
  header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
  }
  
  header img {
    max-width: 50px;
    vertical-align: middle;
  }
  
  header h1 {
    display: inline-block;
    margin-left: 1rem;
    font-size: 1.5rem;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    margin: 0 1rem;
  }
  
  nav a:hover {
    text-decoration: underline;
  }





footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: white;
}


.footer-container {
    text-align: center;
}

@media (max-width: 768px) {
    .info-section {
        flex-direction: column;  
    }
    
    .info-section div {
        max-width: 100%; 
    }
}
